
<!-- <h4><strong>Secret Key : &nbsp;</strong>{{geted?.password}}</h4> -->



  <div class="container">
        <div class="card text-white bg-dark mb-3 w-100" *ngIf="geted">
          <div class="card-header">Details</div>
          <div class="card-body">
             
              <div class="card-text">
                <p><strong>First Name : &nbsp;</strong>{{geted?.fname}}</p>
                <p><strong>Last Name : &nbsp;</strong>{{geted?.lname}}</p>
                <p><strong>Email : &nbsp;</strong>{{geted?.email}}</p>
                <p><strong>Key : &nbsp;</strong>{{geted?.id}}</p>
                <p><strong>Mobile : &nbsp;</strong>{{geted?.mobile}}</p>
                
             
            </div>
          </div>
        </div>
        <div class="card text-white bg-dark mb-3 w-100"  >
          <div class="card-header">URL</div>
          <div class="card-body">
            <div class="w-100 " style="word-wrap: break-word;">
               <a [href]="[href]" class="text-white">
                {{href}}
              </a>
            </div>
          </div>
        </div>

        
      </div>
     